body
{
  background-color: #333;
}

h4,
h5
{
  margin-bottom: 10px;
  color: white;
  
}

h2{
  margin-top: 10px;
  color: white;
}

li,
p
{
  color: white;
}

a{
  color: white;
}
a:hover
{
  color: #444;
}

img 
{
  
}

.navbar 
{ 
  margin-bottom: 40px;
  border: 10px;
  background-color: #444;
}

.navbar-brand
{
  color: white !important;
  font-size: 32px;
  font-weight: bold;
}

.btn-default {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  font-size: 20px;
  margin-bottom: 20px;
}

.btn-default:focus, .btn-default:hover {
  color: black;
  border: 1px solid white;
  background-color: white;
}

/*
.footer {
  position: absolute; 
  bottom: 0;
  width: 99%;
  height: 60px;
  line-height: 60px;
  background-color: #333;
}
*/


.footer {
  bottom: 0;
  width: 99%;
  height: 60px;
  line-height: 60px;
  background-color: #333;
}


.profile-picture
{
  border: 3px solid grey;
  margin-bottom: 30px;
  
}

.gb-img
{
  padding: 5px;
}

/*
.container-fluid
{
  border: 3px solid grey;
}
*/